<section class="screen chat">
    <header class="screen-header">
        <h2>Чат</h2>
    </header>

    <div class="dev-card">
        <button class="dev-btn">В разработке!</button>
        <p>Чат еще в разработке,<br>и скоро будет готов!</p>
    </div>


    <!-- <div class="chat-top">
        <div class="friends-scroll">
            <button class="search-circle" aria-label="Найти">🔍</button>
            <div class="friend-pill"><img src="/img/maidan.jpg" alt="M"/><span>Майдан Н.</span></div>
            <div class="friend-pill"><img src="/img/renata.jpg" alt="R"/><span>Рената Ш.</span></div>
            <div class="friend-pill"><img src="/img/natasha.jpg" alt="Н"/><span>Наташа Б.</span></div>
        </div>
    </div>


    <ul class="chat-list">
        <li class="chat-row">
            <img class="avatar" src="/img/maidan.jpg" alt="avatar"/>
            <div class="chat-body">
                <div class="chat-name">Майдан Найманов</div>
                <div class="chat-last">Коле будем пить?)</div>
            </div>
            <div class="chat-meta">пн <span class="badge">3</span></div>
        </li>


        <li class="chat-row">
            <img class="avatar" src="/img/renata.jpg" alt="avatar"/>
            <div class="chat-body">
                <div class="chat-name">Рената Шевченко</div>
                <div class="chat-last">Мне там вообще не понравилось</div>
            </div>
            <div class="chat-meta">пн</div>
        </li>
    </ul> -->
</section>